<div class="wrapper wrapper-content">
    <div class="ibox ">
       <table class="table ">
            <thead>
            </thead>
            <tbody>
                <tr>        
                    <td>
                          <strong>
                         Company Name                                       
                          </strong>
                    </td>
                    <td >
                        GDC ALIMENTOS SA  
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Contact Name                                      
                          </strong>
                    </td>
                    <td >
                        Contact Name  
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Contact Email                                         
                          </strong>
                    </td>
                    <td >
                        email@contact.com
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Account Executive                                            
                          </strong>
                    </td>
                    <td >
                        Stéfano Folloni
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Segment                                            
                          </strong>
                    </td>
                    <td >
                        Corp
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Renuwal Date                                            
                          </strong>
                    </td>
                    <td >
                        20/02/202
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Agreement Id                                           
                          </strong>
                    </td>
                    <td >
                       2345655723545676
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Flag Details                                            
                          </strong>
                    </td>
                    <td >
                        No flag
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Detail Status                                            
                          </strong>
                    </td>
                    <td >
                        9.Delivery to customer
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Close Type                                            
                          </strong>
                    </td>
                    <td >
                        Open
                    </td>
                </tr>
                <tr>        
                    <td>
                          <strong>
                         Comments                                           
                          </strong>
                    </td>
                    <td >
                        
                    </td>
                </tr>
                

            </tbody>
    </table>
 </div>
</div>