<div class="wrapper wrapper-content text-left">
   <div class="ibox ">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>#</th>
               <th>Message </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>1</td>
               <td>message text content</td>
            </tr>
            <tr>
               <td>2</td>
               <td>messasge text content 2 </td>
            </tr>
            <tr>
               <td>3</td>
               <td>Message content3</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>